[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gbif.range"]
	path = gbif.range
	url = https://github.com/8ginette8/gbif.range
